/* ===== GLOBAL ===== */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Poppins", sans-serif;
  background: #0b0f19;
  color: white;
}

/* ===== HERO ===== */
.hero {
  height: 80vh;
  background: url("https://images.unsplash.com/photo-1489599849927-2ee91cede3ba")
    center/cover no-repeat;
  display: flex;
  align-items: center;
  justify-content: center;
}

.hero-overlay {
  text-align: center;
  background: rgba(0, 0, 0, 0.6);
  padding: 40px;
  border-radius: 15px;
}

.hero h1 {
  font-size: 3.5rem;
}

.hero p {
  margin-top: 10px;
  opacity: 0.9;
}

/* ===== MOVIES ===== */
.movies-container {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  gap: 40px;
  padding: 60px;
}

/* CARD */
.movie-card {
  width: 300px;
  background: #141b2d;
  border-radius: 20px;
  overflow: hidden;
  transition: 0.4s;
  box-shadow: 0 15px 35px rgba(0, 0, 0, 0.6);
}

.movie-card:hover {
  transform: translateY(-15px) scale(1.05);
}

/* POSTER */
.poster {
  width: 100%;
  height: 420px;
  object-fit: cover;
}

/* INFO */
.movie-info {
  padding: 20px;
}

.badge {
  background: #ff416c;
  padding: 4px 10px;
  border-radius: 20px;
  font-size: 0.8rem;
}

.rating {
  margin: 10px 0;
}

/* BUTTON */
.btn {
  padding: 10px 18px;
  border: none;
  border-radius: 25px;
  background: linear-gradient(45deg, #ff416c, #ff4b2b);
  color: white;
  cursor: pointer;
  transition: 0.3s;
}

.btn:hover {
  transform: scale(1.1);
}

/* ===== MUSIC ===== */
.music-section {
  background: #090d16;
  padding: 60px 20px;
  text-align: center;
}

.song-card {
  width: 60%;
  margin: 15px auto;
  padding: 15px;
  display: flex;
  justify-content: space-between;
  background: #141b2d;
  border-radius: 12px;
}

audio {
  filter: invert(1);
}

/* ===== MODAL ===== */
.modal {
  display: none;
  position: fixed;
  inset: 0;
  background: rgba(0, 0, 0, 0.9);
  justify-content: center;
  align-items: center;
  z-index: 1000;
}

.modal video {
  width: 70%;
  border-radius: 12px;
}

.close {
  position: absolute;
  top: 30px;
  right: 40px;
  font-size: 30px;
  cursor: pointer;
}
